In [1]:
import pandas as pd

In [15]:
brent_df = pd.read_csv('brent_prices.csv', sep=';')
dollar_df = pd.read_csv('dollar_curs.csv', sep=';')

In [16]:
brent_df.head()

  <TICKER> <PER>    <DATE>  <OPEN>  <HIGH>  <LOW>  <CLOSE>    <VOL>
0  ICE.BRN     M  20180901   77.69   83.41  75.64    82.98  3141389
1  ICE.BRN     M  20181001   82.97   86.74  74.58    74.59  4406167
2  ICE.BRN     M  20181101   74.69   74.99  57.78    59.07  4333185
3  ICE.BRN     M  20181201   59.98   63.73  50.22    54.15  3459773
4  ICE.BRN     M  20190101   54.12   63.15  52.51    61.22  3659813

In [17]:
dollar_df.head()

        curs  nominal        date
0  65.854527      1.0  2018-10-01
1  66.355681      1.0  2018-11-01
2  67.335314      1.0  2018-12-01
3  66.512544      1.0  2019-01-01
4  65.810525      1.0  2019-02-01